@import "~bootstrap/scss/bootstrap-utilities";
// Body
$body-bg: #f8fafc;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$input-padding-y: 10px;
$input-padding-x: 10px;

$input-bg: $body-bg;
$input-disabled-color: null;
$input-disabled-bg: $gray-200;
$input-disabled-border-color: null;

$input-border-radius: $border-radius;
$input-border-radius-sm: $border-radius;
$input-border-radius-lg: $border-radius;

$input-focus-border-color: gray;
$input-focus-box-shadow: none;

$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;

$card-border-radius: $border-radius;
$card-border-color: $gray-300;
$pagination-border-radius-sm: $border-radius-sm;
$pagination-border-radius-lg: $border-radius-lg;
$agination-border-radius: $border-radius;
$dropdown-dark-bg: #202024;
$dropdown-border-radius: $border-radius;
$dropdown-dark-border-color: $gray-800;
$alert-border-radius: $border-radius;
$form-check-input-border-radius: $border-radius;
$badge-font-weight: 400;
$badge-border-radius: $border-radius;
$tooltip-bg: #37373b;
$tooltip-border-radius: $border-radius;
$spacer: 30px;
$tooltip-padding-y: $spacer * 0.25;
$tooltip-padding-x: $spacer * 0.5;
$tooltip-opacity: 1;
$mark-bg: #c5c5c5;
$mark-padding: $spacer * 0.0625;
$modal-content-border-radius: $border-radius;
