@import "~bootstrap/scss/bootstrap-utilities";
$theme-colors: (
    "success": #0abb98,
    "primary": #005b5a,
    "secondary": #6c757d,
    "warning": #ffc107,
    "danger": #b82126,
    "info": #17a2b8,
    "light": #f8f9fa,
    "dark": #343a40,
);
// Body
$body-bg: #f8fafc;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$input-padding-y: 10px;
$input-padding-x: 10px;

$input-bg: $body-bg;
$input-disabled-color: null;
$input-disabled-bg: $gray-200;
$input-disabled-border-color: null;

$input-border-radius: $border-radius;
$input-border-radius-sm: $border-radius;
$input-border-radius-lg: $border-radius;

$input-focus-border-color: gray;
$input-focus-box-shadow: none;

$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;

$card-border-radius: $border-radius;
$card-border-color: $gray-300;
$pagination-border-radius-sm: $border-radius-sm;
$pagination-border-radius-lg: $border-radius-lg;
$agination-border-radius: $border-radius;
$dropdown-dark-bg: #202024;
$dropdown-border-radius: $border-radius;
$dropdown-dark-border-color: $gray-800;
$alert-border-radius: $border-radius;
$form-check-input-border-radius: $border-radius;
$badge-font-weight: 400;
$badge-border-radius: $border-radius;
$tooltip-bg: #37373b;
$tooltip-border-radius: $border-radius;
$spacer: 30px;
$tooltip-padding-y: $spacer * 0.25;
$tooltip-padding-x: $spacer * 0.5;
$tooltip-opacity: 1;
$mark-bg: #c5c5c5;
$mark-padding: $spacer * 0.0625;
$accordion-button-active-bg: #007e7a;
$accordion-button-active-color:  #fff;
$accordion-button-focus-box-shadow: 0 0 0 0.2rem rgba(0, 94, 92, 0.25);
$accordion-icon-active-color: #fff;
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$modal-content-border-radius: $border-radius;
